.container{
    padding: 10px 3%; /*legger til padding*/
    margin-bottom: 1vh; /*Hvor langt unna du er fra bunnen */
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*sier hvordan griden skal sette seg opp */
    grid-gap: 40px; /*Mellomrommen mellom bildene  */
    margin-top: 50px; /*Hvor mye avstand du har fra toppen */
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden; /*Den skjuler scrol bar */
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #33bc6f); /*Farger til bakgrunnen */
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /*Hvordan det skal bli satt opp */
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
   transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f; /*Farge */
    text-decoration: none;
    font-size: 18px;
    line-height: 60px; /*Linje høyde */
    background: #fff; /*Fargen til bakgrunn */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center; /*Hvor teksten skal stå */ 
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #33bc6f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #33bc6f; /*Hvilken farge knappene har */
}
body{
    background: #080808;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: poppins,sans-serif;
    color: white;
}
.container{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    position: relative;
} 
.container nav{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 7%;
}
nav .logo img{
    width: 120px;
}
nav ul li{
    display: inline-block;
    margin: 0 1.2rem;
    line-height: 90px;font-size: 18px;
    color: white;
}
nav ul li a{
    color: white;
    font-size: 16px;
    display: inline-block;
    position: relative;
}
nav ul li a::after{
    content:"";
    position: absolute;
    top: 70%;
    left: 0;
    height: 4px;
    width: 0;
    background-color: #33bc6f;
    border-radius: 10px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    
    width: 100%;
}
nav .toggle{
    font-size: 32px;
    display: none;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    width: 100%;
}
.header h1 {
    font-size: 5rem;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.header h4 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}
.header h4 span {
    color: #33bc6f;
}
.header .btn-group a{
    padding: 12px 20px;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: #33bc6f;
    margin: 20px 10px;
    border-radius: 30px;
    color: black;
    border: 0;
    outline: none;
    transition: 0.5s;
}
.header .btn-group a:hover{
    background-color: transparent;
    border: 2px solid #33bc6f;
    color: #33bc6f;
}
.container .social-icons{
    position: absolute;
    right: 5%;
    bottom: 5%;
}
.container .social-icons i{
    color: aliceblue;
    display: block;
    margin: 20px 0;
    font-size: 18px;
    transition: 0.5s;
}
.container .social-icons i:hover{
    color: #33bc6f;
    transform: scale(1.2);

}
@media (max-width:900px) {
    nav .toggle{
        display: block;
    }
    nav{
        position:relative;
        padding: 0 7%;
    }
    nav ul{
        position: absolute;
        top: 70%;
        right: 18%;
        background-color: #191919;
        padding:22px;
        width: 50%;
        display: none;
        transition: 0.6s ease-in-out;
    
    }
    nav ul.show{
        display: block;
    }
    nav ul li{
        display: block;
        margin: 20px 10px;
        line-height: 50px;
        font-size: 16px;
        letter-spacing: 1px;
    }
    header h1{
        font-size: 3rem;
        text-align: center;
    }
    header h4{
        font-size: 2.2rem;
    }
}